// COLORS
$color-primary:#FAFAFA;
$white: #fff;
$dark-blue: #2D2641;
$sea-blue: #96A9C6;
$sand: #837D88;
$blackish: #2C2830;

// FONTS
$Karla: "Karla", "Arial", sans-serif;
$Display: "DM Serif Display", "Arial", sans-serif;